{% extends 'main.html' %}
{% load static %}

{% block content %}
{% for cocktail in cocktail_data %}
    <h4>Cocktail Name</h4>
    {{ cocktail.cocktail_name }}
    <h4>Cocktail Category</h4>
    {{ cocktail.cocktails_category }}
    <h4>Type of Glass</h4>
    {{ cocktail.crockery_category }}
    <h4>Method Category</h4>
    {{ cocktail.method_category }}
    <h4>Ingredients</h4>
    {{ cocktail.ingredients }}
    <h4>Execution</h4>
    {{ cocktail.execution }}
    <img src="{{ cocktail.image.url }}" width="350" height="350">
    <form action="{% url 'cocktails:likes' cocktail.pk %}" method=POST>
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="cocktail.id" value="{{ cocktail.id }}" class="btn unlike">Unlike
            </button>
        {% else %}
            <button type="submit" name="cocktail.id" value="{{ cocktail.id }}" class="btn like">Like
            </button>
        {% endif %}
        - {{ total_likes }} Likes
    </form>
{% endfor %}

{% endblock %}