{% extends 'main.html' %}
{% load static %}

{% block content %}
{% for cocktail in cocktail_data %}
    <div class="add-page">
    <img src="{{ cocktail.image.url }}" width="300" height="300">
    <div class="add-form">
    <h4>Author</h4>
        <a href="{% url 'accounts:profile' cocktail.user.id %}">
            {{ cocktail.user.username }}
        </a>
        <h4>Cocktail Name</h4>
        {{ cocktail.cocktail_name|capfirst }}
        <h4>Cocktail Category</h4>
        {{ cocktail.cocktails_category }}
        <h4>Type of Glass</h4>
        {{ cocktail.crockery_category }}
        <h4>Method Category</h4>
        {{ cocktail.method_category }}
        <h4>Ingredients</h4>
        {{ cocktail.ingredients|capfirst }}
        <h4>Description</h4>
        {{ cocktail.execution }}

        <form action="{% url 'cocktails:likes' cocktail.pk %}" method=POST>
            {% csrf_token %}
            {% if liked %}
                <button type="submit" name="cocktail.id" value="{{ cocktail.id }}" class="btn-unlike">
                    {{ total_likes }} Like
                </button>
            {% else %}
                <button type="submit" name="cocktail.id" value="{{ cocktail.id }}" class="btn">
                    {{ total_likes }} Like
                </button>
            {% endif %}
        </form>
        {% if user.id == cocktail.user.id %}
            <a href="{% url 'cocktails:delete-cocktail' cocktail.pk %}"><button class="btn-delete">Delete</button></a>
        {% endif %}
         <br/>
        {% if not cocktail.comments.all %}
         <br/>
        <a href="{% url 'cocktails:add-comment' cocktail.pk %}">Add a comment</a>
        <br/>
        <br/>
        No comments yet
        <br/>
        {% else %}
        <a href="{% url 'cocktails:add-comment' cocktail.pk %}">Add a comment</a>
        <br/>
        <br/>
            {% for comment in cocktail.comments.all %}
                <strong>
                {{ user.username }} -
                {{ comment.date_added }}
                </strong>
                <br/>
                {{ comment.body }}
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endfor %}
{% endblock %}