{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="add-page">
<h2>Account</h2>
    {% for object in user_data %}
    <div class="add-form">
        <form method="GET" enctype="multipart/form-data">
            {% if user.account.avatar %}
            <img src="{{ object.user.account.avatar.url }}" alt="Avatar" width="100" height="100">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="Avatar" width="100" height="100">
            {% endif %}
            <h4>Email</h4>
            <p>{{ object.email }}</p>
            <h4>Username</h4>
            <p>{{ object.username }}</p>
            <h4>Name</h4>
            <p>{{ object.first_name|capfirst }}</p>
            <h4>Last name</h4>
            <p>{{ object.last_name|capfirst }}</p>
        </form>
    </div>
</div>
    <div class="profile-cocktails">
        <a href="{% url 'cocktails:my-cocktails' object.pk %}"><h3>My cocktails</h3></a>
    </div>
{% endfor %}
{% endblock %}