<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Society</title>

    <script src="/static/js"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %} /">

   <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
</head>

<body style="background-color: #DFDBDA;">
{% if messages %}
        <div class="alert alert-warning">
           <div class="container">
            {% for message in messages %}
                {{ message }}<br/>
            {% endfor %}
           </div>
        </div>
{% endif %}
<div class="navi">
    <div class="navbar-left">
        <a href="/"><img src="{% static 'images/logo.png' %}" alt="'My logo"></a>
        <ul class="nav-links-menu">
            <li>
                <a href="{% url 'cocktails:add-cocktail' %}"><h5>Add a Cocktail</h5></a>
            </li>
            <li>
                <a href="{% url 'cocktails:search-cocktail' %}"><h5>Search for a Cocktail</h5></a>
            </li>
        </ul>
    </div>
    <div class="middle">
    </div>
    <div class="navbar-right">
        <ul class="nav-links-account">
            {% if user.is_authenticated %}
             <li>
                <a href="{% url 'cocktails:my-cocktails' user.pk %}"><h5>My cocktails</h5></a>
            </li>
            <li>
                <a href="{% url 'accounts:user-profile' %}"><h5>Profile</h5></a>
            </li>
            <li>
                <a href="{% url 'accounts:logout-redirect' %}"><h5>Logout</h5></a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'accounts:register' %}"><h5>Register</h5></a>
            </li>
            <li>
                <a href="{% url 'accounts:login' %}"><h5>Login</h5></a>
            </li>
            {% endif %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</div>

{% if messages %}
<div class="messages">
    {% for massage in messages %}
    {{ message }}<br/>
    {% endfor %}
</div>
{% endif %}
{% block content %}

{% endblock %}
    <footer>
        <div class="footer-bottom">
            <p>copyright &copy;2020 designed by Tomasz Mostowy.<span></span></p>
        </div>
    </footer>
</body>
</html>